@model List<AutoDem.Controllers.AdminAutosListViewModel>

@{
    ViewBag.Title = "Autos List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Default datatable inside panel -->
            <a href="@Url.Action("CreateAuto","Admin")" target="_blank"><div class="btn btn-success" id="ACreate">Додати автомобіль</div></a>
            <div class="panel panel-default">
                <div class="panel-heading"><h6 class="panel-title">Список автомобілів</h6></div>
                <div class="datatable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:5%">#</th>
                                <th style="width:15%">Фото</th>
                                <th style="width:50%">Назва автомобіля</th>
                                <th style="width:10%"></th>
                                <th style="width:10%"></th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                    {

                            <tr>
                                <td>@i.IdAuto</td>
                                <td><a href="@Url.Action("Details","Autos",new { id = i.IdAuto})"><img src="@i.PathToPhoto" width="50" height="50" /></a></td>
                                <td>@i.Name<span id="@("delerr" + i.IdAuto)" class="errmsgs" style="color:red;"></span></td>
                                <td><a href="@Url.Action("Details","Autos",new { id = i.IdAuto})" target="_blank"><div class="btn btn-success" id="@("s"+i.IdAuto)">Переглянути</div></a></td>
                                <td><a href="@Url.Action("EditAuto","Admin",new { id = i.IdAuto})" target="_blank"><div class="btn btn-info" id="@("s"+i.IdAuto)">Редагувати</div></a></td>
                                <td><input  class="btn btn-danger" id="@("d"+i.IdAuto)" data-toggle="confirmation" data-placement="left" type="button" value="Видалити" /></td>
                            </tr>
            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /default datatable inside panel -->
        </div>
    </div>
</div>
<script>
         $('[data-toggle=confirmation]').confirmation({
         rootSelector: '[data-toggle=confirmation]',
        onConfirm: function () {
            $.post('@Url.Action("DeleteAuto", "Admin")', { id: $(this).attr("id") }, function (data) {
                //$(".errmsgs").html("");
                if (data.Success) {
                    location.reload();
                }
                else
                    if (data.errmsg) {
                        var body = "Помилка видалення."; /*+ data.errmsg + ": "
                        $.each(data.models, function (index, value) {
                            body += "<span style='color:green;' >" +value +"</span>" + " | ";
                        });*/
                        var delerr = '#delerr' + data.jsid;
                        $(delerr).html(body);
                    }
        });
        },
    });
</script>
