@model AutoDem.Controllers.AdminAutoViewModel
@{
    ViewBag.Title = "Створення автомобіля";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <h2>Новий автомобіль</h2>
            <div class="panel panel-default">
                @*<div class="panel-heading"><h6 class="panel-title ">Заповніть характеристики автомобіля</h6></div>*@
                @using (Html.BeginForm("CreateAuto", "Admin", FormMethod.Post, new {enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger", role = "form", enctype = "multipart/form-data" })
                        <hr />

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:15%">Назва</th>
                                    <th style="width:15%">Характеристики</th>
                                    <th style="width:70%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.PhotoAutos)</td>
                                    <td colspan="2">
                                        <span id="output">
                                            @*тут також працює обробник події на клік в файлі Scripts/customjs/jsforphoto.js*@
                                            @*<img src="~/images/Autos/@Html.DisplayFor(model =>model.PhotoAutos[itemPhoto].PathToPhoto)" style="max-height:150px;max-width:150px;" alt="" />*@
                                            <span class ="sdiv" style="border:1px solid black; padding:5px; display:inline-block; margin:5px;">
                                                <input type="file" id="file0" name="file" />
                                            </span>
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Brand) та @Html.DisplayNameFor(model => model.Model)</td>
                                    <td>
                                        @Html.DropDownListFor(n => n.Brand, new SelectList(Model.Brand, "Id", "Name"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(n => n.Model, new SelectList(Model.Model, "Id", "Name"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Country)</td>
                                    <td>@Html.DropDownListFor(n => n.Country, new SelectList(Model.Country, "Id", "Name"), new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Type)</td>
                                    <td>@Html.DropDownListFor(n => n.Type, new SelectList(Model.Type, "Id", "Name"), new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.FuelType)</td>
                                    <td>@Html.DropDownListFor(n => n.FuelType, new SelectList(Model.FuelType, "Id", "Name"), new { @class = "form-control" })</td>
                                    <td>@Html.ValidationMessageFor(m => m.FuelType, "", new { @class = "text-danger" })</td>
                                </tr>

                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Color)</td>
                                    <td>@Html.EditorFor(model => model.Color)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Color, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Year)</td>
                                    <td>@Html.EditorFor(model => model.Year)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Price)</td>
                                    <td>@Html.EditorFor(model => model.Price)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Mileage)</td>
                                    <td>@Html.EditorFor(model => model.Mileage)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Mileage, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.EngineCapacity)</td>
                                    <td>@Html.EditorFor(model => model.EngineCapacity)</td>
                                    <td>@Html.ValidationMessageFor(m => m.EngineCapacity, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Drive)</td>
                                    <td>@Html.EditorFor(model => model.Drive)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Drive, "", new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Transmission)</td>
                                    <td>@Html.EditorFor(model => model.Transmission)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Transmission, "", new { @class = "text-danger" })</td>
                                </tr>
                                @*<tr>
                                    <td>@Html.DisplayNameFor(model => model.SoldOut)</td>
                                    <td>@Html.EditorFor(model => model.SoldOut)</td>
                                    <td>@Html.ValidationMessageFor(m => m.SoldOut, "", new { @class = "text-danger" })</td>
                                </tr>*@
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Description)</td>
                                    <td colspan="2">
                                        <!-- WYSIWYG editor inside panel -->
                                       
                                                <textarea rows="10" style="width:100%" id="Description" name="Description" placeholder="Опис автомобіля..."></textarea>
                                              
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @for (int i = 0; i < Model.AdditionalOptions.Count; i++)
    {
                                    <div style="display:inline-block; width:150px; font-size:12pt;">
                                        @Html.HiddenFor(x => x.AdditionalOptions[i].Name)
                                        @Html.CheckBoxFor(x => x.AdditionalOptions[i].Checked)
                                        @Html.LabelFor(x => x.AdditionalOptions[i].Checked, Model.AdditionalOptions[i].Name)
                                    </div>
}
                                    </td>

                                        @*<td>@Html.DisplayNameFor(model => model.AdditionalOptions)</td>
            <td colspan="2">

                @foreach (var i in Model.AdditionalOptions)
                {
                    <div style="display:inline-block; width:150px; font-size:12pt;">
                        <span style="margin:5px 10px;">@Html.CheckBox(i.Name, @i.Available)</span>
                        <span style="margin:5px 10px"> @i.Name</span>
                    </div>
                }
            </td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p><input type="submit" value="OK" class="btn btn-default" /></p>
                    </div>
                }
                <p>
                    @Html.ActionLink("Back to List", "AutosList")
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    var numbPhoto = 1;
    function handleFileSelect(evt) {
        var file = evt.target.files; // FileList object
        var f = file[0];
        // Only process image files.
        if (!f.type.match('image.*')) {
            alert("Image only please....");
        }
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                var lastDiv = $(".sdiv").last();
                lastDiv.append(['<img class="thumb" style="max-height:150px;max-width:150px;" title="', escape(theFile.name), '" src="', e.target.result, '" />']
                    .join(''));
                $("#output").append(lastDiv);
                var sdiv = $('<span />', {
                    class:"sdiv",
                    style: "border: 1px solid black; padding: 5px; display: inline-block; margin:5px;"
                });
                var elementInput = $('<input/>', {
                    type: "file",
                    id: "file" + numbPhoto,
                    name: "file",
                    change: handleFileSelect
                });
                sdiv.append(elementInput);
                $("#output").append(sdiv);

            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }
    document.getElementById("file0").addEventListener('change', handleFileSelect, false);
    $("#Brand").on('change',function (e) {
            $.post('@Url.Action("CreateAutoChangeBrand", "Admin")', { id: e.target.value },
                function (data) {
                    if (data.Success) {
                        $("#Model option").remove(); // Remove all <option> child tags.
                        $.each(data.Models, function (index, item) { // Iterates through a collection
                            $("#Model").append( // Append an object to the inside of the select box
                                $("<option></option>") // Yes you can do this.
                                    .text(item.description)
                                    .val(item.id)
                            );
                        });
                    }
                });
        });

</script>
