@model List<AutoDem.Controllers.AdminMessageViewModel>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    var globid = 0;
    </script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Default datatable inside panel -->
            <div class="panel panel-default">@*Model[0].Read ?: "Повідомлення";*@
                <div class="panel-heading"><h6 class="panel-title">@(Request.Params["read"] == "True" ? "Прочитані повідомення" : "Не прочитані повідомлення")</h6></div>
                <div class="datatable">
                    <table class="table" @if (Request.Params["read"] == "False") { <text> style="font-weight:700;" </text> }>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Автор</th>
                                <th>Тема</th>
                                <th>Пошта</th>
                                <th>Телефон</th>
                                @*<th>Body</th>*@
                                <th>Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(x => x.DateTime))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@($"{item.AuthorLName} {item.AuthorFName}")</td>
                    <td>@item.Subject</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    @*<td style="visibility:hidden"><span id="@("s"+item.Id)">@item.Body</span></td>*@
                    <td>@item.DateTime</td>
                    <td>
                        <input class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"id="@("b"+item.Id)" onclick="globid = this.id" type="button" value="Переглянути" />
                    </td>
                </tr>
}
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Повідомлення</h5>
                                </div>
                                <div class="modal-body" style="font-size: 16px;padding: 7px 14px 8px 14px;">
                                    Тут мав бути текст ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Гаразд</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /default datatable inside panel -->

        </div>

    </div>


</div>
<script>
    $('#exampleModal').on('shown.bs.modal', function (e) {
        $.post('@Url.Action("ReadMsg", "Admin")', { id: globid } , function (data) {
              if (data.Success) {
                  $(".modal-body").first().html(data.jsbody);
                    //location.reload();
            }
        });
    })
    $('#exampleModal').on('hidden.bs.modal', function (e) {
        location.reload();
    })
    </script>
