@model AutoDem.Models.AutoDetailsViewModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/customjs/auto_jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->

<link rel="stylesheet" href="~/Content/Auto/auto_flexslider.css" type="text/css" media="screen" />
<link href="~/Content/Auto/auto_style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/Auto/auto_font-awesome.css" rel="stylesheet">
<link href="~/Content/Auto/auto_easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
@*<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-rating/bootstrap-rating.min.js"></script>*@
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<!-- header -->

<div class="gtco-loader"></div>
<!-- banner-bootom-w3-agileits -->
<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/images/main_background.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-mt-15em">
            <div class="col-md-12 mt-text text-center animate-box" data-animate-effect="fadeInUp">
                <h1>Тут є<strong> доступна машина</strong></h1>
                <h2>просто вона доступна...</h2>
            </div>
        </div>
    </div>
</header>
<div class="banner-bootom-w3-agileits" style="position:relative;top:20px;">
    <div class="container">
        <!---728x90--->

        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">

                    <ul class="slides">
                        @foreach (var i in Model.PathToPhotos)
                        {
                            <li data-thumb="@i">
                                <div class="thumb-image"> <img src="@i" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>@(Model.BrandName + "  " + Model.ModelName + "  " + Model.YearOfManufacture)</h3>
            <p><span class="item_price">$@Model.Price</span> <del>- $@(Model.Price * 1.2m)</del></p>
            <div class="description">
                <h5>Опис автомобіля</h5>
                <p>@Html.Raw(Model.Description)</p>

            </div>
        </div>
        <div class="clearfix"> </div>
        <!---728x90--->
        <!-- /new_arrivals -->
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Опис</li>
                    <li>Відгуки</li>
                    <li>Додаткова інформація</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page_agile_its_w3ls">
                            <h6>Заголовок</h6>
                            <p>@(Model.BrandName + "  " + Model.ModelName + "  " + Model.YearOfManufacture)</p>
                            <p>Пробіг : @Model.Mileage</p>
                            <p>Тип : @Model.TypeAuto</p>
                            <p>Об'єм двигуна : @Model.EngineCapacity</p>
                            <p>Тип Палива : @Model.FuelType</p>
                            <p>Привід : @Model.Drive</p>
                            <p>Коробка передач : @Model.Transmission</p>



                        </div>
                    </div>
                    <!--//tab_one-->
                    <div class="tab2">

                        <div class="single_page_agile_its_w3ls">

                            @foreach (var comm in Model.Comments)
                            {
                                <div class="bootstrap-tab-text-grids">
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="/images/avatar.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">@comm.AuthorName</a></li>
                                                @*<li>Рейтинг : @Html.BootstrapRating(m => (double)(comm.Rating))</li>*@
                                            </ul>
                                            <p>
                                                @comm.Body
                                            </p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab3">

                        <div class="single_page_agile_its_w3ls">
                            <h6>Додаткова інформація</h6>
                            @foreach (var i in Model.AdditionalOptions)
                            {
                                <p>@i</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="add-review">
                <h4>Добавити відгук</h4>
                @using (Ajax.BeginForm("Comment", "Autos", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "OnSuccess",
    }, new
    {
        enctype = "multipart/form-data"
    }))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="text" name="AuthorFName" id="AuthorFName" placeholder="Ім'я" style="max-width:100%">
            <input type="email" name="Email" id="Email" size="100" placeholder="Пошта" style="max-width:100%"><br>
            <textarea name="Body" id="Body" placeholder="Повідомлення" cols="200" style="max-width:100%"></textarea><br>
            <input type="hidden" name="IdAuto" id="IdAuto" value="@Model.Id">
            @Html.MathCaptcha();
            <input type="submit" value="Надіслати"> <div id="mstatus"></div>
}
            </div>
        </div>



        <div class="w3_agile_latest_arrivals">
            <h3 class="wthree_text_info">Нові <span> автомобілі</span></h3>

            @foreach (var item in Model.LastNewCars)
            {
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="@item.PathToPhotos[0]" alt="" class="pro-image-front">
                            <img src="@item.PathToPhotos[1]" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    @Html.ActionLink("Переглянути", "Details", new { id = item.Id }, new { @class = "link-product-add-cart" })
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h4>
                            <div class="info-product-price">
                                <span class="item_price">$@(item.Price * 1.2m)</span>
                                <del>$@item.Price</del>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"> </div>

        </div>




        <div class="w3_agile_latest_arrivals">
            <h3 class="wthree_text_info">Останні <span>Продані автомобілі</span></h3>

            @foreach (var item in Model.LastSoldCars)
            {
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="@item.PathToPhotos[0]" alt="" class="pro-image-front">
                            <img src="@item.PathToPhotos[1]" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    @Html.ActionLink("Переглянути", "Details", new { id = item.Id }, new { @class = "link-product-add-cart" })
                                </div>
                            </div>
                            <span class="product-new-top">Sold</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h4>
                            <div class="info-product-price">
                                <span class="item_price">$@(item.Price * 1.2m)</span>
                                <del>$@item.Price</del>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"> </div>

        </div>










    </div>
</div>


@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/index")

<script src="~/Scripts/customjs/auto_minicart.min.js"></script>
<script>
    // Mini Cart
    paypal.minicart.render({
        action: '#'
    });

    if (~window.location.search.indexOf('reset=true')) {
        paypal.minicart.reset();
    }
</script>

<!-- //cart-js -->
<!-- single -->
<script src="~/Scripts/customjs/auto_imagezoom.js"></script>
<!-- single -->
<!-- script for responsive tabs -->
<script src="~/Scripts/customjs/auto_easy-responsive-tabs.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<!-- FlexSlider -->
<script src="~/Scripts/customjs/auto_jquery.flexslider.js"></script>
<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
<!-- //FlexSlider-->
<!-- //script for responsive tabs -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/Scripts/customjs/auto_move-top.js"></script>
<script type="text/javascript" src="~/Scripts/customjs/auto_jquery.easing.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */



    });
</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
<script type="text/javascript">

    function OnSuccess(data) {
        if (data.success == true)
            document.getElementById("mstatus").innerHTML = "Повідомлення відправлено!";
        else {
            document.getElementById("mstatus").innerHTML = "Помилка відправлення!";
        }
        location.reload();
    }
</script>