@model List<AutoDem.Models.AutoIndexViewModel>
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/images/img_bg_4.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-mt-15em">
            <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                <h1>Наше <strong>Портфоліо</strong></h1>
                <h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
            </div>
        </div>
    </div>
</header>




<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="@(Url.Action("Details", "Autos", new {id = Model[i].Id}))" class="gtco-card-item">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img src="@Model[i].PathToPhoto" alt="Image" class="img-responsive" style="width:100%">
                        </figure>
                        <div class="gtco-text">
                            <h2>@Model[i].Name</h2>
                            <p>@Regex.Replace(Model[i].ShortDescription, "(<(.|\n)*?>|&nbsp;)", string.Empty)</p>
                            <p class="gtco-category"><span>@Model[i].Country</span></p>@*, <span>Branding</span>, <span>Illustrator</span>*@
                        </div>
                    </a>
                </div>
            }

            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>



<div class="gtco-cover gtco-cover-sm" style="background-image: url(/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>Ми надаємо високоякісні послуги, які, точно, вам сподобаються!</h1>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/index")
