<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/index")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <div class="page-inner">
        <div id="head-top" style="position: absolute; width: 100%; top: 0; ">
            <div class="gtco-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div id="gtco-logo">@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
                        </div>
                        <div class="col-md-6 col-xs-6 social-icons">
                            <ul class="gtco-social-top">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <nav class="gtco-nav sticky-banner" role="navigation">
                <div class="gtco-container">

                    <div class="row">
                        <div class="col-xs-12 text-center menu-1">
                            <ul>
                                <li class="active">@Html.ActionLink("Головна", "Index", "Home")</li>
                                <li>@Html.ActionLink("Автомобілі", "Index", "Autos")</li>
                                <li>@Html.ActionLink("Послуги", "Index", "Services")</li>
                                <li>@Html.ActionLink("Контакти", "Index", "Contacts")</li>
                            </ul>
                            @*@Html.Partial("_LoginPartial")*@
                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <div class="container-fluid @*body-content*@">
            @RenderBody()
            <hr />
            <footer id="gtco-footer" role="contentinfo">
                <div class="gtco-container">
                    <div class="row row-p	b-md">
                        <div class="col-md-4">
                            <div class="gtco-widget">
                                <h3>About Us</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat.</p>
                                <p><a href="#">Learn more...</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-push-1">
                            <div class="gtco-widget">
                                <h3>Services</h3>
                                <ul class="gtco-footer-links">
                                    <li><a href="#">Data Analytics</a></li>
                                    <li><a href="#">Web Development</a></li>
                                    <li><a href="#">Branding &amp; Identity</a></li>
                                    <li><a href="#">eCommerce Development</a></li>
                                    <li><a href="#">Design &amp; UX</a></li>
                                    <li><a href="#">Strategt</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-push-1">
                            <div class="gtco-widget">
                                <h3>Get In Touch</h3>
                                <ul class="gtco-quick-contact">
                                    <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                                    <li><a href="#"><i class="icon-mail2"></i> info@GetTemplates.co</a></li>
                                    <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12">
                            <p class="pull-left">
                                <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                                <small class="block">Designed by <a href="http://GetTemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                            </p>
                            <p class="pull-right">
                                <ul class="gtco-social-icons pull-right">
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/index")
        @RenderSection("scripts", required: false)
</body>
</html>
