@model AutoDem.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<div class="gtco-loader"></div>

<div id="page">

    <div class="page-inner">


        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/images/img_bg_3.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                        <h1>Get <strong>In Touch</strong></h1>
                        <h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
                    </div>
                </div>
            </div>
        </header>
        <div class="gtco-section gtco-gray-bg">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 animate-box">
                            <h3>Напишіть нам</h3>
                            @using (Ajax.BeginForm("Contact", "Home", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBegin", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, null))
    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="AuthorFName">Ім'я*</label>
                                @Html.EditorFor(m => m.AuthorFName, new { htmlAttributes = new { @class = "form-control", placeholder = "Ваше ім'я" } })
                                @Html.ValidationMessageFor(m => m.AuthorFName)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="AuthorLName">Прізвище</label>
                                @Html.EditorFor(m => m.AuthorLName, new { htmlAttributes = new { @class = "form-control", placeholder = "Ваше прізвище" } })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="Phone">Номер телефону*</label>
                                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Номер телефону" } })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="Email">Електронна пошта*</label>
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Ваша ел. адреса" } })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="Subject">Тема*</label>
                                @Html.EditorFor(m => m.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Тема повідомлення" } })
                                @Html.ValidationMessageFor(m => m.Subject)
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="Body">Повідомлення</label>
                                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @cols = 30, @rows = 10, @placeholder = "Повідомлення" })
                                @Html.ValidationMessageFor(m => m.Body)
                            </div>
                        </div>
                        <span style="color:green" id="mstatus"></span>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                            <div style="display:inline-block;" id="sendloader"><img src="/images/loader.gif" alt="loader" style="width:50px;"></div>
                        </div>
}
                        </div>
                        <div class="col-md-5 col-md-push-1 animate-box">

                            <div class="gtco-contact-info">
                                <h3>Contact Information</h3>
                                <ul>
                                    <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                                    <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                                    <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                                    <li class="url"><a href="http://GetTemplates.co">GetTemplates.co</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<script type="text/javascript">
    document.getElementById("sendloader").style.display = "none";
    function OnBegin(data) {
        document.getElementById("sendloader").style.display = "inline-block";
    }
    function OnSuccess(data) {
        if (data.message != undefined)
            document.getElementById("mstatus").innerHTML = data.message;
        document.getElementById("sendloader").style.display = "none";
        document.getElementById("mstatus").style.color = "green";

    }
    function OnFailure(data) {
        document.getElementById("sendloader").style.display = "none";
        document.getElementById("mstatus").style.color = "red";
        if (data.message != undefined)
            document.getElementById("mstatus").innerHTML = data.message;
    }
</script>
