@model List<AutoDem.Models.ServiceShowViewModel>
@{
    ViewBag.Title = "About";
}




<div class="gtco-loader"></div>

<div id="page">
    <div class="page-inner">
        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/images/img_bg_4.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                        <h1>Наші <strong>Послуги</strong></h1>
                        <h2>Вони прекрасні...</h2>
                    </div>
                </div>
            </div>
        </header>





        @for (int i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0)
            {
                @:<div class="flex-section gtco-gray-bg">
                }
                else
                {
                    @:<div class="flex-section reverse">
                    }
                    <div class="col-1">
                        <div class="text">
                            <div class="row row-pb-sm">
                                <div class="col-md-12">
                                    <h2>@Model[i].Title</h2>
                                    <p>@Model[i].Body</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="check-li">
                                        @for (int j = 0; j < @Model[i].Details.Count / 2; j++)
                                        {
                                            <li>@Model[i].Details[j]</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="check-li">
                                        @for (int j = @Model[i].Details.Count / 2; j < @Model[i].Details.Count; j++)
                                        {
                                            <li>@Model[i].Details[j]</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    string url = "/images/img_" + (i + 1) + ".jpg";
                    @:<div class="col-2 flex-img" style="background-image: url(@url);"></div>
                }


    </div>
</div>
<div class="col-2 flex-img" style="background-image: url(/images/img_bg_2.jpg);"></div>
</div>


<div class="gtco-cover gtco-cover-sm" style="background-image: url(/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>We have high quality services that you will surely love!</h1>
            </div>
        </div>
    </div>
</div>

</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/index")
 